@charset "UTF-8";
/* Sass Document */
/* Scss Document */
/* 全体
============================================================================================================*/
* {
  padding: 0px;
  margin: 0px; }

/* body
============================================================================================================*/
body {
  color: #000000;
  font-size: 1em;
  line-height: 1.8;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-family: 'Noto Sans JP','Roboto',  sans-serif;
  margin-top: 0px;
  background-color: #fff; }

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  line-height: 100%; }

/* Scss Document */
/* Scss Document contents */
footer {
  position: fixed;
  bottom: 5px;
  right: 5px; }

.none {
  display: none; }

main {
  max-width: 1300px;
  min-width: 300px;
  padding: 0px 10px 0 10px;
  margin-left: auto;
  margin-right: auto; }

.login {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.pages {
  padding-top: 15px; }
  .pages h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600; }
  .pages h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    align-content: center; }
    .pages h2 span {
      background: #cb2a2d;
      color: white;
      font-size: 12px;
      margin-left: 10px;
      padding: 3px; }
  .pages section {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px; }
  .pages .table01 {
    margin-bottom: 20px; }
    .pages .table01 dl {
      display: grid;
      grid-template-columns: 150px 1fr;
      padding: 0;
      border-bottom: 1px dotted gray;
      margin: 0; }
      .pages .table01 dl dt, .pages .table01 dl dd {
        padding: 3px !important;
        margin: 0; }

.cl a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  color: black;
  border-radius: 50%;
  text-decoration: none; }
.cl .re {
  background: #e92b2b;
  color: white; }

input + .modalbox {
  display: none; }

input:checked + .modalbox {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0; }
  input:checked + .modalbox section {
    background: white;
    max-height: 95vh;
    overflow-y: auto; }

.modalbox section {
  position: relative; }

.close {
  position: absolute;
  right: 10px;
  top: 10px; }
  .close label {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center; }

.times {
  display: grid;
  grid-template-columns: 120px 1fr 100px;
  margin-bottom: 1px !important;
  border-bottom: 1px solid #eee; }
  .times span:first-child {
    border-right: 1px dotted gray;
    margin-right: 10px; }
