/* Scss Document */
@mixin w-auto() {margin-left: auto;margin-right: auto;}
@mixin underline() {border-bottom: 1px solid gray; }

@mixin flex-sb() { display: flex; justify-content: space-between;}
@mixin flex-cc() { display: flex; justify-content: center;align-items: center;}

@mixin font-g() {font-family: 'Noto Sans JP', sans-serif;}
@mixin font-m() {font-family: 'Noto Serif JP', serif;}
@mixin font-maru() {font-family: 'M PLUS 1p', sans-serif;}
@mixin font-maru2() {font-family: 'M PLUS Rounded 1c', sans-serif;}

@mixin font-sg(){font-family: 'Sawarabi Gothic', sans-serif;}
@mixin font-sm(){font-family: 'Sawarabi Mincho', sans-serif;}

@mixin font-kg(){font-family: 'Kosugi', sans-serif;}
@mixin font-kmaru(){font-family: 'Kosugi Maru', sans-serif;}
